In [6]:
#if else
a='atul'
result='this is atul ' if a=='atul' else 'this is you'
print(result)

this is atul

In [8]:
#Data types
'str','int','float','boolen'

('str', 'int', 'float', 'boolen')

In [10]:
a=10
print(type(a))
b=5.3
print(type(b))
c='hello'
print(type(c))

<class 'int'>
<class 'float'>
<class 'str'>

In [23]:
#data types are classified into two types
#indiviual datatypes
#collection datatypes

#indivdual datatypes
'it will hold numeric values'
#integer
#float
#complex number
#boolean

'it will hold numeric values'

In [27]:
#integer
a=-10
print(type(a))

<class 'int'>

In [29]:
#abs() it will convert negative value into positive
print(abs(a))

10

In [31]:
#float
b = -4.5
print(abs(b))

4.5

In [35]:
#com[lex number
a=2+3j
b=2
c=3
print(complex(b, c))

(2+3j)

In [39]:
#boolen value
#it is defined by True or False
#in python boolen values can be represented by number
print(int(True))
print(int(False))

1
0

In [ ]:
#colection datatypes
#string
#list 
#tuple
#set
#dictionary

In [41]:
#string 
#collection of charactors(letters,n numbers,special symbols,whitespace)

In [45]:
#string in python are surrondded by wither single quote or double quote or tripe quote
#it is imutable datatype
#once they are created they cannot be modified and any operation u r trying to mofiy it will create the new string
#length if the string thwy cannot be modified and any operation u r trying to mofied it will create the new string 
#length of string : len(string)
#syntax : var_name ='string'
word='hello world'
print(word)

word ='hello'
print(word)

#tripe quote
my_message="""
hii
hello how are you 
"""
print(my_message)

hello world
hello

hii
hello how are you

In [49]:
word=str('hello world')
print(word)

hello world

In [57]:
#empty string
word=""
word=str()

In [63]:
# regular string and row string
#regular 
s='hello \task from python \n worlds'
print(s)

hello 	ask from python
 worlds

In [67]:
#raw string
s=r'hello \task from pytho\n world'
print(s)

hello \task from pytho\n world

In [71]:
#indexing:
#process of extrac thing single character at a time
#indexing can be postive (start with 0) or can be negative(starts with -1)

#syntax:var_name[index]
s="hello"

In [84]:
print(s[1])
print(s[::-1])

e
olleh

In [90]:
#slicing a string
#process of extracting multiple chararctres at a time
#syntax:var_name[startindex:ending:stepvalue]
#start index:default value is 0(optional)
#endindex:default value is length of the string(optional)
#end index is always excluded
#stepvalue :default value is 1
word1="hello world"

In [104]:

print(word1[0:6])
print(word1[0:3])
print(word1[0::])
print(word1[::-1])
print(word1[::2])
print(word1[::-2])

hello
hel
hello world
dlrow olleh
hlowrd
drwolh

In [106]:
print(dir(word1))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [112]:
#string methods
#lower()
#syntax:string.lower()
s="HeLLO World"
print(s.lower())

#upper()
#syntax string.upper()
a='HariPriya'
print(a.upper())

hello world
HARIPRIYA

In [114]:
#swapcase():convert uppercase to lower and lower to upper
#syntax:string.swapcase()
words="Hii Hello HOW ARE YOU GOOD morning"

In [116]:
print(words.swapcase())

hII hELLO how are you good MORNING

In [122]:
#Count():it will give the count of character
#syntax:string.count("substring",si,ei)
message="hello world ,hello universe"
print(message.count("l",0,7))

2

In [136]:
#replace():it will replace specified value with another specified value 
#syntax:string.replace(oldvalue,newvalue,count)
language='malayam'
print(language.replace("a","q",2))

mqlqyam

In [138]:
#find and rfind()
#find():find accurance of teh specified value
my_word='hello world'
print(my_word.find("l"))
print(my_word.find("z"))

2
-1

In [142]:
#rfind():last occurance of the specified value
print(my_word.rfind(("l")))
print(my_word.rfind("z"))

9
-1

In [154]:
#index and rindex()
#index():first occurance of the specifed value
my_word="hello world"
print(my_word.index("l"))
print(my_word.rindex("l"))
#print(my_word.rindex("z"))

2
9

In [158]:
#startswith():return True if the string start with specifed value
s="hii how are you "
print(s.startswith("h"))
print(s.startswith("p"))

True
False

In [172]:
#endswith(): 
a='hello world' 
print(a.endswith("h")) 
print(a.endswith("u"))

False
False

In [174]:
#split():
#convert string linto list
#default value is whitespace

text1='hello world how are you'
print(text1.split())

['hello', 'world', 'how', 'are', 'you']

In [176]:
text1="one|two|three|four|sic"
print(text1.split("|",2))

['one', 'two', 'three|four|sic']

In [180]:
#join():converts list into string
#it joints the elements
s=["hari","hello","haii"]
print(" ".join(s))

hari hello haii

In [184]:
s1="hello"
print("-".join(s1))

h-e-l-l-o

In [194]:
#strip():removes the leading(begining) and trailing(end) characters
#rstrip():removes the trailing characters
#lstrip():remove the leading charaters
my_string="++++++hello world**********"
print(my_string.strip("+*"))
print(my_string.rstrip("*"))
print(my_string.lstrip("+"))

hello world
++++++hello world
hello world**********

In [200]:
#f-string(formatted string):
name='Alice'
age=20
print(name)
print(age)
print(f"my name is {name} my age is {age}")

Alice
20
my name is Alice my age is 20

In [202]:
# isalnum():return True if the characters sin the string is alpha numeric

In [208]:
s3='abc123'
print(s3.isalnum())

True

In [220]:
#isalpha():return True if the characters sin the string is alpha 
s3='atul'
s2='123'
print(s3.isalpha())
print(s2.isalpha())

True
False

In [222]:
#isdigit():return True if the characters sin the string is digit
s3='atul'
s2='123'
print(s3.isdigit())
print(s2.isdigit())

False
True

In [224]:
#isupper():return True if the characters sin the string is upper
s3='ATUL'
s2='atul'
print(s3.isupper())
print(s2.isupper())

True
False

In [226]:
#islower():return True if the characters sin the string is lower 
s3='ATUL'
s2='atul'
print(s3.islower())
print(s2.islower())

False
True